<div class="container mt-5 pb-5">

  <div class="row">

    <div class="col-lg-3">
      <%= render 'shared/categories' %>
    </div>

    <div class="col-lg-9">
      <%= render 'shared/carousel' %>
      <div class="row">
        <%= render 'products/product' %>
        <div class="col-lg-12 mt-5 mb-5">
          <%= will_paginate @products, list_classes: %w(pagination justify-content-center mb-5) %>
        </div>
      </div>
    </div>

  </div>
</div>
