<div class="footer py-4 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Donate me :)</p>
    <p class="m-0 text-center text-white">5355 0740 1118 3501</p>
  </div>
</div>
