<div class="footer py-4 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Donate me if you clone my repo :)</p>
    <p class="m-0 text-center text-white">More than once</p>
  </div>
</div>
